{{ define "layouts/auth.html" }}
<!DOCTYPE html>
<html lang="vi" data-theme="winter">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}Login | ĐẠI ĐIỆN LẠNH{{ end }}</title>

    <!-- Performance: Local Assets -->

    <!-- Local Tailwind CSS -->
    <link href="/assets/css/app.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.min.css">
    <script src="/assets/vendor/htmx/htmx.min.js"></script>
</head>

<body class="bg-base-200 min-h-screen flex items-center justify-center">

    {{ block "content" . }}{{ end }}

</body>

</html>
{{ end }}